*{
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: #35454C;
    color: white;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
}
.card-container{
    position: relative;
    width: 300px;
    height: 420px;
    background: #aba79f;
    margin: 10px 20px;
    border-radius: 30px;
    box-shadow: 1px 5px 10px 10px #5C8491;
    overflow: hidden;
}
.top-box{
    background: #0a0708;
    height: 120px;
    border-radius: 30px;
    padding: 20px 30px;
}
.top-menu{
    display: flex;
    justify-content: space-between;
}
.top-box i{
    font-size: 22px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: transparent;
    border-radius: 10px;
    color: #aba79f;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.dropdown-content{
    display: none;
    position: absolute;
    width: 180px;
    background: #aba79f;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 1px #35454C;
    overflow: hidden;
    z-index: 10;
}
/* Showa the dropdown on hover*/
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    box-shadow: inset 0px 0px 2px 1px #aba79f;
}
.menu-list{
    display: flex;
    flex-direction: column;
}
.menu-list a{
    text-decoration: none;   
    font-size: 15px;
    color: black; 
    padding: 10px 20px;
}
.menu-list a:hover{
    background: #5C8491;
}
.more{
    right: 0px;
    padding: 10px;
}
.skills-title{
    font-size: 15px;
    color: #8D4343;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px;
}
.skills-list label{
    font-size: 13px;
    background: #5C8491;
    color: #0a0708;
    padding: 1 8px;
    border-radius: 3px;
}
/* Image box */
.image-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -75px auto 10px auto;
    height: 150px;
    width: 150px;
    background: #35454C;
    border-radius: 50%;
}
.image-box img{
    width: 142px;
    border-radius: 50%;
    background-color: #35454C;
    box-shadow: 0px 3px 2px 1px #35454C;
}
/* User information */
.user-info .name{
    display: flex;
    justify-content: center;
    color: #0a0708;
    font-size: 1.2rem;
}
.user-info .job{
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #8D4343;
}
/* social icons */
.social-icons{
    display: flex;
    justify-content: center;
    margin: 10px 0px 20px 0px;
    color: #0a0708;
    gap: 0px;
}
.social-icon-box a {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-decoration: none; 
    color: inherit;
    width: 55px;
}

.social-icon-box a span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #0a0708;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.social-icon-box a span:hover {
    color: #aba79f;
    box-shadow: inset 0 0 0 20px #0a0708;
    transform: translateY(-8px);
}

.social-icon-box a .social-icon-name {
    margin-top: 5px;
    font-size: 13px;
    background: #0a0708;
    color: #aba79f;
    padding: 3px 10px;
    border-radius: 20px;
    opacity: 0;
    transition: opacity .3s ease, transform .3s ease;
    transform: translateY(-10px);
}

.social-icon-box a:hover .social-icon-name {
    opacity: 1;
    transform: translateY(0);
}

/* Contact button */
.btn-box{
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}
.btn-box .btn{
    width: 90px;
    height: 35px;
    color: #aba79f;
    background: linear-gradient(to right, #0a0708);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    /* margin-top: -1.4rem; */
}
.btn-box btn:hover{
    background: linear-gradient(to right, #0a0708);
}
/* Animated circle */
.circle-1{
    position: absolute;
    left: -20px;
    top: 35%;
    height: 50px;
    width: 50px;
    border: 2px dashed #5C8491;
    border-radius: 50%;
    animation: circle-1 5s ease-in-out infinite;
}
.circle-2{
    position: absolute;
    right: -20px;
    bottom: -30px;
    height: 100px;
    width: 100px;
    border: 2px dashed #5C8491;
    border-radius: 50%;
    animation: circle-2 15s ease-in-out infinite;
}
/* Circle-1 animation */
@keyframes circle-1 {
    50%{
        left: -20px;
        top: 43%;
    }
}
@keyframes circle-2{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}